.Dark:not(img) {
  background-color: #b1b1b1;
}
.Dark .markdown-section p {
  color: #ececec;
}
.Dark .sidebar {
  background-color: #b1b1b1;
  color: #ececec;
}
.Dark .input-wrap input {
  background-color: #b1b1b1;
  color: #ececec;
}

body.Dark > main > aside > div.sidebar-nav > ul > li a {
  color: #ececec;
}

.markdown-section p {
  font-size: 16px;
  color: #5d6880;
}

@media all and (min-width: 1300px) {
  #main {
    font-size: 16px;
    max-width: 8l00px;
    -webkit-font-smoothing: antialiased;
    color: #5f5e5e;
  }
  .markdown-section {
    max-width: 900px !important;
  }
  .markdown-section p {
    font-size: 19px;
    line-height: 38px;
    color: #0a0a23;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    vertical-align: baseline;
    margin: 0 0 1.5em 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .markdown-section p::selection {
    background-color: #8cd842;
    background-color: rgba(66, 185, 131, 0.2);
  }
  .markdown-section p strong {
    padding: 0 3px;
  }
  .markdown-section pre > code {
    font-size: 1rem;
    line-height: 26px;
    color: #042341;
  }
}

.token.comment {
  color: #b2b7c1;
}

p img {
  display: block;
  margin: 30px auto 30px;
}

.li a {
  text-decoration: none;
  font-weight: normal !important;
  color: #34495e !important;
}

.li a:hover {
  text-decoration-line: underline;
}

.width {
  width: 7em;
}

/* fixPos */
.fixPos {
  position: fixed;
  right: 60px;
  top: 0px !important;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 !important;
}

/* 最后编辑时间样式 */
.markdown-section ol:last-of-type {
  margin-bottom: 0;
}
.markdown-section p.docsify-updated {
  color: rgb(180, 180, 180);
  text-align: right;
  margin-top: 0;
}

.markdown-section ul li {
  margin-bottom: 1rem;
}

.markdown-section a {
  font-weight: normal;
}

.markdown-section code {
  font-size: inherit;
  background-color: #fff8b3;
  margin: 0;
  padding: 0 4px;
}

.lightbox {
  font-size: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lightbox img {
  border: 1px solid #eee;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
figure figcaption {
  text-align: center;
  color: #4a4a4b;
  font-size: 16px;
  line-height: 1.2;
  padding-top: 10px;
}
figure figcaption::before {
  content: '图片: ';
}
/* figure > img {
  border: 1px solid #f1f1f1;
} */

.markdown-section blockquote {
  border-left: 4px solid #0697f7;
  color: #a78ef2;
  margin: 1rem 0;
  padding-left: 20px;
  background: #f1f1f16b;
}

blockquote p {
  line-height: 2.4rem !important;
}

.alertD {
  border-left: 3px solid #f5311d;
  padding: 15px 15px 15px 50px;
  margin-bottom: 20px;
  /* background: #feecea url('./danger.svg') no-repeat; */
  background-position: 10px center;
  background-size: 24px auto;
}

.alertS {
  border-left: 3px solid #4dc657;
  padding: 15px 15px 15px 50px;
  margin-bottom: 20px;
  /* background: #effaf0 url('./success.svg') no-repeat; */
  background-position: 10px center;
  background-size: 24px auto;
}
.alertI {
  border-left: 3px solid #349ef3;
  padding: 15px 15px 15px 50px;
  margin-bottom: 20px;
  /* background: #e6f3fe url('./info.svg') no-repeat; */
  background-position: 10px center;
  background-size: 24px auto;
}

@media screen and (min-width: 720px) and (max-width: 749px) {
}
@media screen and (min-width: 750px) and (max-width: 799px) {
}

@media screen and (min-width: 1500px) {
  .sidebar .sidebar-nav {
    line-height: 40px;
  }
  .sidebar ul li p {
    font-size: 18px;
  }
  .sidebar ul li a {
    font-size: 16px;
  }
}

.markdown-section ol li a {
  font-weight: normal;
  text-decoration: none;
  font-size: 15px;
}

.anchor span {
  color: #34495e;
  color: #042341;
  color: #0a0a23;
  font-weight: 500;
  position: relative;
}

.anchor span::before {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -10px;
  right: -10px;
  content: '';
  /* background-color: #f2ef47; */
  z-index: -1;
}

#main h1 {
  display: inline-block;
  position: relative;
}

#main h1::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  right: -10px;
  content: '';
  /* background-color: #f5f389; */
  z-index: -1;
}

.markdown-section hr {
  border-bottom-width: 5px;
}

/* table css */

table,
thead,
tbody,
tfoot,
td,
th,
caption {
  display: block;
}

table {
  width: 100%;
}

tr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
th,
td {
  padding: 0.25rem;
  text-align: left;
  border: none !important;
}

th:nth-child(1),
td:nth-child(1) {
  width: 150px;
}
th:nth-child(n + 1),
td:nth-child(n + 1) {
  flex: 1;
}

.markdown-section td,
.markdown-section th {
  padding: 6px 13px;
}

.xx {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --dark-blue: #002ead;
  --theme-color: #0a0a23;
  --gray90: #0a0a23;
  --gray85: #1b1b32;
  --gray80: #2a2a40;
  --gray75: #3b3b4f;
  --gray45: #858591;
  --gray15: #d0d0d5;
  --gray10: #dfdfe2;
  --gray05: #eeeef0;
  --gray00: #fff;
  --header-height: 38px;
  --sr-annote-color-0: #b4d9fb;
  --sr-annote-color-1: #ffeb3b;
  --sr-annote-color-2: #80deea;
  --sr-annote-color-3: #85d1f6;
  --sr-annote-color-4: #8cd842;
  --sr-annote-color-5: #ffb7da;
  color: var(--gray90);
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0 0 1.5em 0;
  min-width: 100%;
}
