@import './px2vwConfig.scss';

.reac2 {
  width: px2vw(187.5);
  height: 300px;
  background-color: salmon;
}

// .innerBox {
//   background-color: rgba(228, 167, 0, 1);
//   width: 10vw;
//   font-size: 1.6vw;
//   height: 100px;
// }
